@{
    ViewData["Title"] = "Home Page";
}

<div class="home-page">
    <h1 class="home-title">Welcome to Sprint Project Manager</h1>
    <p class="home-description">Efficiently manage your Scrum sprints, track progress, and streamline collaboration. This web application helps you organize your tasks, monitor team progress, and ensure timely project delivery.</p>
    
</div>

